 <!DOCTYPE html>
 <html>
   <head>
     <meta charset="utf-8">
     <title>confirm</title>
   </head>
   <body>
     <h3>Are you sure you want to delete the following courses?</h3>

     <!-- {# for tb in tables #} -->

         {{tables.name}}
         {{tables.description}}
         {{tables.id}}
         <!-- <button type="button" name="button"><a href='/confirm/{{tb.id}}'>yes</a></button>
         <button type="button" name="button"><a href='/index'>no</a></button> -->

     <!-- {# endfor #} -->


     <form action='/confirm/{{tables.id}}' method='POST'>
       {%csrf_token%}
     <input type='submit' name='yes' value='Yes!'>
     </form>

     <form action='/' method='POST'>
       {%csrf_token%}
     <input type='submit' name='no' value='No!'>
     </form>

   </body>
 </html>
